<% include ./header %>
  
   <!--  top    top   top   -->
  <div class="height15"></div>
   <div class="container  ">
      <div class="row ">
    
             <!--==================  列 1 ======================= -->
         <div class="col-md-8 col-xs-12"><span style="background:#FFFFFF"><img src="/chao/img/bbs_banenr.jpg" height="320" ></span></div>
         
      <!--==================  列 2 ======================= -->
         <div class="col-md-4 col-xs-12" >
             <ul class="sq_yzrt_ul"  style="background:#FFFFFF; height:320px;padding-left:20px ">
                 <% news.forEach(function(n) {  %>
                <li class=" sq_yzrt_ul_li1"><img src="/chao/img/dot.gif" class="img_margin"><a href="/users/<%=n.created_by.id%>"><%=n.created_by.username%></a><span class="bbs_span"><%= dateFormat(n.created_on) %></span><a href="/bbs/post/<%=n.id%>" ><span class="bbs_span1"><%= ellipsis(n.title, 13) %></span></a></li>
                 <% }) %>

             </ul>
        </div>
                
        <!--  列完  -->

   
     </div>
      <!--================== row完 ======================= -->
   </div>

 <div class="height15"></div>
<!--    时光宝石   -->
   <div class="container">
        <div style="height:45px; background:#FFFFFF"><img src="/chao/img/bbs_sgbs.jpg"></div>
        <div style="height:250px; background:#FFFFFF; margin-top:2px">
             <div class="row">
                 <div class="height15"></div>
                 <div class="col-md-4"  style="border-right:1px solid #eeeeee">
                    <div  style=" padding-left:25px; padding-top:20px;">
                        <div class="media" style="  border-bottom:1px dashed #eeeeee">
                             <img src="/chao/img/bbs_sucai.jpg" class="media-object pull-left">
                             <div class="media-body">
                                <div class=" bbs_sgbs_p1">素材专区</div>
                                <p class=" bbs_sgbs_p2">时光宝石相关的素材和成品图分享</p>
                                <a href="/bbs/list/sucai"><p class="bbs_sgbs_p3">[进入板块]</p></a>
                                <div class="height15"></div>
                             </div>
                        </div>
                        <% sucai.forEach(function(p) {  %>
                        <div class="height15"></div>
                        <h5 class=" bbs_span1"><a href="/bbs/post/<%=p.id%>"><span class=" bbs_span1"><%= ellipsis(p.title, 20) %></span></a></h5>
                        <p class=" bbs_span"><%= dateFormat(p.created_on) %> <%=p.created_by.username%></p>
                        <% }) %>
                     </div>
                 </div>
                 <div class="col-md-4"  style="border-right:1px solid #eeeeee">
                    <div  style=" padding-top:20px;padding-left:10px;">
                        <div class="media" style="  border-bottom:1px dashed #eeeeee">
                             <img src="/chao/img/bbs_jiaoliu.jpg" class="media-object pull-left">
                             <div class="media-body">
                                <div class=" bbs_sgbs_p1_2">交流专区</div>
                                <p class=" bbs_sgbs_p2">时光宝石相关的素材和成品图分享</p>
                                <a href="/bbs/list/jiaoliu"><p class="bbs_sgbs_p3">[进入板块]</p></a>
                                <div class="height15"></div>
                             </div>
                        </div>
                        <% jiaoliu.forEach(function(p) {  %>
                        <div class="height15"></div>
                        <h5 class=" bbs_span1"><a href="/bbs/post/<%=p.id%>"><span class=" bbs_span1"><%= ellipsis(p.title, 20) %></span></a></h5>
                        <p class=" bbs_span"><%= dateFormat(p.created_on) %> <%=p.created_by.username%></p>
                        <% }) %>
                     </div>
                 </div>
                 <div class="col-md-4">
                    <div  style=" padding-left:10px; padding-top:20px; padding-right:25px">
                        <div class="media" style="  border-bottom:1px dashed #eeeeee">
                             <img src="/chao/img/bbs_gouda.jpg" class="media-object pull-left">
                             <div class="media-body">
                                <div class=" bbs_sgbs_p1_3">勾搭专区</div>
                                <p class=" bbs_sgbs_p2">时光宝石相关的素材和成品图分享</p>
                                <a href="/bbs/list/gouda"><p class="bbs_sgbs_p3">[进入板块]</p></a>
                                <div class="height15"></div>
                             </div>
                        </div>
                        <% gouda.forEach(function(p) {  %>
                        <div class="height15"></div>
                        <h5 class=" bbs_span1"><a href="/bbs/post/<%=p.id %>"><span class=" bbs_span1"><%= ellipsis(p.title, 20) %></span></a></h5>
                        <p class=" bbs_span"><%= dateFormat(p.created_on) %> <%=p.created_by.username%></p>
                        <% }) %>
                     </div>
                 </div>
             </div>
        </div>
   </div>
   
<!--    热门达人   -->
 <div class="height30"></div>
   <div class="container">
        <div class=" bbs_rmdr_top"><img src="/chao/img/bbs_rmdr.jpg"></div>
        <div class=" bbs_rmdr_content">
             <div class="row">
                 <div class="height15"></div>
                 <!--<div class="col-md-4"  >-->
                      <!--<li class="bbs_rmdr_li">-->
                         <!--<p class="pull-left">-->
                           <!--<span class="bbs_rmdr_li_tb img_margin15"><em>1</em></span>-->
                           <!--<img src="/chao/img/newxiaotu.jpg" width="50" height="50">-->
                           <!--<span class="bbs_rmdr_li_p">纸蔷薇</span>-->
                         <!--</p>-->
                         <!--<p class="pull-right bbs_rmdr_li_p">积分值711</p>-->
                         <!--<div class="clearfix"></div>-->
                      <!--</li>-->
                 <!--</div>-->
                 <!--    1   -->
                 <% var i=1; users.forEach(function(u) {  %>
                 <div class="col-md-4"  >
                      <li class="bbs_rmdr_li">
                         <p class="pull-left">
                           <span class="bbs_rmdr_li_tb img_margin15"><em><%=i %></em></span>
                           <a href="/users/<%=u.id%>"><img src="<%=u.thumbnail_url %>"  width="50" height="50"></a>
                             <a href="/users/<%=u.id%>"><span class="bbs_rmdr_li_p"><%=u.username %></span></a>
                         </p>
                         <p class="pull-right bbs_rmdr_li_p">积分值<%=u.user_rate %></p>
                         <div class="clearfix"></div>
                      </li>
                 </div>
                 <% i++; }) %>
                <!--    2   -->

                
                
             </div>
        </div>
   </div>
<% include ./footer %>