<% include ./header %>
     <!--  pubuliu   -->
    <link href="/chao/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/chao/css/docs.css" rel="stylesheet">	
    <link href="/chao/css/lightbox.css" rel="stylesheet">
    <link href="/chao/css/indexpic.css"  rel="stylesheet">
     
     
     
     
   <div class="height15"></div>   
    <div class="container   banner">
       <div class="row">
            <div class=" col-lg-8 col-md-8 col-xs-6">
                 <!-- 代码 开始 -->
                   <div id="playBox">
                     <div class="pre"></div>
                     <div class="next"></div>
                     <div class="smalltitle">
                       <ul>
                         <li class="thistitle"></li>
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                       </ul>
                     </div>
                     <ul class="oUlplay">
                        <li><img src="/chao/img/banner.jpg"></li>
                        <li><img src="/chao/img/banner1.jpg"></li>
                         <li><img src="/chao/img/banner2.jpg"></li>
                        <li><img src="/chao/img/banner.jpg"></li>
                        <li><img src="/chao/img/banner1.jpg"></li>
                        <li><img src="/chao/img/banner2.jpg"></li>
                     </ul>
                   </div>
              <!-- 代码 结束 --> 
            </div>           
            <div class=" col-lg-4 col-md-4 col-xs-6" style="background:#FFFFFF; border:#dedfe0 1px solid; height:445px; margin-left:-10px" >
               <img src="/chao/img/notice.gif" style="margin-top:15px">
                 <!--  活动内容开始 -->
                 <div class="media notice_margin" >
                       <a class="pull-left" href="notice.html" >
                          <img class="media-object" src="/chao/img/huodongtu.gif" >
                       </a>
                       <div class="media-body">
                          <a href="notice.html"><h5 class="media-heading" style="border-bottom:#dedfe0 1px solid; color:#000000; line-height:1.5"><strong>午后一杯咖啡</strong></h5></a>
                            <span  style="font-size:12px">午后一杯咖啡，听听音乐。让我们认真的消磨时光午后一杯咖啡，听听音乐。让我们认真的消磨时光午后一杯咖啡，听听音乐</span>
                       </div>
                </div>
                <!--  活动内容结束 -->
                <!--  活动内容开始 -->
            
                <div class="media notice_margin" >
                       <a class="pull-left" href="notice.html" >
                          <img class="media-object" src="/chao/img/huodongtu.gif" >
                       </a>
                       <div class="media-body">
                          <a href="notice.html"><h5 class="media-heading" style="border-bottom:#dedfe0 1px solid; color:#000000; line-height:1.5"><strong>午后一杯咖啡</strong></h5></a>
                            <span  style="font-size:12px">午后一杯咖啡，听听音乐。让我们认真的消磨时光午后一杯咖啡，听听音乐。让我们认真的消磨时光午后一杯咖啡，听听音乐</span>
                       </div>
                </div>
           <!--  活动内容结束 -->
             <!--  活动内容开始 -->
            
                <div class="media notice_margin" >
                       <a class="pull-left" href="notice.html" >
                          <img class="media-object" src="/chao/img/huodongtu.gif" >
                       </a>
                       <div class="media-body">
                          <a href="notice.html"><h5 class="media-heading" style="border-bottom:#dedfe0 1px solid; color:#000000; line-height:1.5"><strong>午后一杯咖啡</strong></h5></a>
                            <span  style="font-size:12px">午后一杯咖啡，听听音乐。让我们认真的消磨时光午后一杯咖啡，听听音乐。让我们认真的消磨时光午后一杯咖啡，听听音乐</span>
                       </div>
                </div>
           <!--  活动内容结束 -->
         </div>
      </div>
    </div>
   <!--  baner    baner   baner   -->
    <div class=" height30"></div>
    <div class="container "  style="border-top:#d4d5d5 1px solid;">  <img src="/chao/img/baoshidai.gif" style=" margin-top:20px">
      <div class="row ">
		  <div  class="col-md-10 col-xs-12  col-lg-10 " style="margin:0px; padding:-15px; margin:-15px; margin-top:0px;">
		
    
             
			  <div id="masonry" class="container-fluid">
                  <% rubies.forEach( function(ruby) { %>
                  <!--  瀑布流图片展示开始  -->
                  <div id="scroll" class="thumbnail pull-left" >
                      <div class="imgs">
                          <a href="<%=ruby.url%>" data-lightbox="lightbox_" ><img  src="<%=ruby.thumbnail_url%>" class="img-responsive"  /></a>
                      </div>
                      <div class="caption">
                          <div class="author">
                              <button type="button"  class="btn "  style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:62px; margin-top:0px"><img src="/chao/img/xin.jpg"><span style="color:#000000; font-size:12px">收藏</span></button>

                              <button onclick="rcomment('<%=ruby.id%>','<%=ruby.thumbnail_url%>')" type="button"  class="btn"  style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:65px; margin-top:0px"><img src="/chao/img/weixin.jpg"><span style="color:#000000; font-size:12px">讨论</span></button>
                          </div>
                      </div>
                  </div>
                  <!--  瀑布流图片展示结束  -->
                  <% }) %>
                  <div class="nav">
                      <% if(paginate.hasNextPages(pageCount)) { %>
                      <a href="<%= paginate.href()%>">next</a>
                      <% } %>
                  </div>

		   </div>
		  </div>
	    
         <div class="col-md-2 col-xs-4  col-lg-2 biaoqian"  >
               <div class="baoshichicun" >
                   <img src="/chao/img/bsbq.gif">
                      <ul style="margin-top:15px">
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                         <li class="baoshibiaoqian_li">新闻</li>
                      </ul>
                      <div style="clear:both"></div>
                </div>    
            <div class="height30"></div>
               <div class="baoshichicun" >
                        <img src="/chao/img/bscc.gif">
                          <ul style="margin-top:15px">
                             <li class="baoshibiaoqian_li">20mm圆</li>
                            <li class="baoshibiaoqian_li">20mm圆</li>
                            <li class="baoshibiaoqian_li">20mm圆</li>
                            <li class="baoshibiaoqian_li">20mm圆</li>
                           </ul>
                        <div style="clear:both"></div>
                </div>
           </div>
	     </div>
      </div>
   </div>
  
      
     <!--   轮换图   -->
    <link href="/chao/css/lunhuan.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/chao/js/lunhuan.js"></script>
   
   <!--   弹出讨论列  -->
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                           <div class="modal-dialog"  style="width:800px">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title" id="myModalLabel">讨论</h4>
                               </div>
                               <div class="modal-body">
                                    <table cellpadding="2" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td rowspan="2" width="215" valign="top">
                                                 <a href="#"><img id="rthumbnail" src="/chao/img/5c1d8f8eed1208472570d3dad8cda699.jpg"  style="width:210px; height:auto"></a>
                                                 <p style="text-align:left; padding-top:15px; font-family:微软雅黑; font-size:12px; color:#666666"> <font color="#FF6699">幼儿简易枕套</font> 于40分钟前上传</p>
                                                
                                               
                                             </td>
                                            
                                             <td id="rcomment_box" valign="top" align="left" >
                                                 
                                                 <div style="padding-left:15px">
                                                   <div class="media">
                                                     <a class="pull-left" href="base.html">
                                                        <img class="media-object" src="/chao/img/newxiaotu.jpg" width="35" height="35" style="border:1px solid #dedede; padding:2px;">                       </a>
                                                     <div class="media-body">
                                                       <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                                                       <span class="font10">2015-04-04</span>                         
                                                     </div>
                                                   </div>
                                                     <p style=" color:#666666; font-size:12px; font-family:微软雅黑; border-top:1px dashed #ccc; padding-top:5px ">
                                                        评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论评论内容评论内容评论内容评论
                                                     </p>
                                                 </div><!--  回复列表  -->
                                              
                                             </td>
                                          </tr>
                                           <tr>
                                               <script type="text/javascript" src="/chao/ckeditor/ckeditor.js"></script>
                                             <td valign="top" align="left" style="padding-left:15px">
                                                 <% if(locals.user) { %>
                                                 <input type="hidden" id="rid" value="">
                                                 <input type="hidden" id="uid" value="<%=locals.user.id%>">
                                                   <textarea id="TextArea1" cols="20" rows="2" class="ckeditor"></textarea>
                                                        <script type="text/javascript">
                                                           CKEDITOR.replace('TextArea1');</script>
                                                        <div class="height15"></div>
                                                        <div>
                                                           <span style="float:left"> <button onclick="reply('<%=locals.user.thumbnail_url%>')" class="btn btn-danger " type="button" style="background:#FF6699" >发表帖子 </button> </span>
                                                           <span style="float:right"><a href="rules.html">社区积分规则</a></span>    
                                                        </div>
                                                 <% } else { %>
                                                 <a href="/users/login">登录后才能回复</a>
                                                 <% } %>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                               </div>
                               <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                               </div> 
                             </div>
                           </div>
                         </div>
    <!--   弹出讨论列表结束    -->
<% include ./footer %>
<script src="/waterfall/jquery.infinitescroll.min.js"></script>
<script>
    // infinitescroll() is called on the element that surrounds
    // the items you will be loading more of
    $('#masonry').infinitescroll({

        navSelector  : "div.nav",
        // selector for the paged navigation (it will be hidden)
        nextSelector : "div.nav a:first",
        // selector for the NEXT link (to page 2)
        itemSelector : "#masonry div#scroll"
        // selector for all items you'll retrieve
    });

    function rcomment(id, url) {
        $("#rthumbnail").attr("src", url);
        $("#rid").val(id);

        //get comment
        $.getJSON( "/rcomment/"+ id, function( data ) {
//            console.log(ruby._id);
            $('#rcomment_box').html('');
            $.each( data.rcomments, function( i, item ) {
                var html = ['<div style="padding-left:15px">',
                '<div class="media">',
                '<a class="pull-left" href="/bbs/users/',item.created_by._id,'">',
                '<img class="media-object" src="', item.created_by.thumbnail_url,'" width="35" height="35" style="border:1px solid #dedede; padding:2px;"></a>',
                '<div class="media-body">',
                '<h6 class="media-heading"><a  href="/bbs/users/',item.created_by._id,'">',item.created_by.username,'</a></h6>',
                '<span class="font10">',item.created_on,'</span>',
                '</div>',
                '</div>',
                '<p style=" color:#666666; font-size:12px; font-family:微软雅黑; border-top:1px dashed #ccc; padding-top:5px ">',
                item.content,
                '</p>',
                '</div>'].join('');

                $('#rcomment_box').append(html);
            });


        });
//        var value = $("#rid").val();
//            console.log(ruby._id);
        $('#myModal').modal('show');
    }

    function reply(url) {
        var ruby_id = $("#rid").val();
        var user_id = $("#uid").val();
        var content = CKEDITOR.instances.TextArea1.getData();
//        console.log(value);
        $.post( "/rcoment", {user_id: user_id, ruby_id: ruby_id, content: content })
                .fail(function() {
                    alert( "ajax error" );
                })
                .done(function(item) {
                    CKEDITOR.instances.TextArea1.setData('');
                    var html = ['<div style="padding-left:15px">',
                        '<div class="media">',
                        '<a class="pull-left" href="/bbs/users/',item.created_by._id,'">',
                        '<img class="media-object" src="', url,'" width="35" height="35" style="border:1px solid #dedede; padding:2px;"></a>',
                        '<div class="media-body">',
                        '<h6 class="media-heading"><a  href="/bbs/users/',item.created_by._id,'">',item.created_by.username,'</a></h6>',
                        '<span class="font10">',item.created_on,'</span>',
                        '</div>',
                        '</div>',
                        '<p style=" color:#666666; font-size:12px; font-family:微软雅黑; border-top:1px dashed #ccc; padding-top:5px ">',
                        item.content,
                        '</p>',
                        '</div>'].join('');

                    $('#rcomment_box').prepend(html);
                });
    }
</script>