<% include ./header %>
  
   <!--  top    top   top   -->
    <!-- pubuliu -->
     <link href="/chao/css/docs.css" rel="stylesheet">
     <link href="/chao/css/lightbox.css" rel="stylesheet">
     <link href="/chao/css/bootstrap-responsive.css" rel="stylesheet">
    
   <link href="/chao/css/gempic.css"  rel="stylesheet">
 
 <!--   body  -->

<div class="container">
    <div class="row">
        <div class="height40"></div>
        <div class="col-md-9">
            <a href="/users/<%=muser.id%>" style=" height:150px; width:150px;position:relative; float:left">
                <img src="<%=muser.thumbnail_url%>" width="150" height="150px"></a>
            <% if(locals.user && muser.id == locals.user.id) { %>
            <a href="modify.html"><p class="user_about">个人资料修改</p></a>
            <% } %>
            <div class="height15"></div>
            <a href="rules.html"><p class="user_p_rules">查看积分规则</p></a>
        </div> <!--  col-md-9  -->
        <div class="col-md-3">
            <ul class="user_ul">
                <li class="user_li user_li1">
                    <p class="user_ul_li_p">100</p>
                    <p class="user_ul_li_p1">全部主题</p>
                </li>
                <li class="user_li user_li1">
                    <p class="user_ul_li_p">100</p>
                    <p class="user_ul_li_p1">我的宝石</p>
                </li>
                <li class="user_li">
                    <p class="user_ul_li_p">100</p>
                    <p class="user_ul_li_p1">我的收藏</p>
                </li>
            </ul>
        </div>  <!--  col-md-3  -->
    </div> <!--  row  -->
    <div class="row">
        <div class="height15"></div>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li ><a href="/users/<%=muser.id%>" class="user_a">主题</a></li>
                <li ><a href="/users/<%=muser.id%>/profile"  class="user_a">资料</a></li>
                <li class="active"><a href="/users/<%=muser.id%>/rubies"  class="user_a">宝石</a></li>
                <li><a href="/users/<%=muser.id%>/likes" class="user_a" >收藏</a></li>
            </ul>
        </div><!--   nav-tabs  -->
             
             <div class="user_nr">
                  <div class="height15"></div>
                  <div class="row-fluid">
                          <div id="masonry" class="container-fluid" >
		                  
                                 <!--  start   -->
	                    		<div class="thumbnail">
	                    			<div class="imgs">
	                    				   <a href="images/t10.jpg" data-lightbox="lightbox_" ><img src="images/t10.jpg" width="200"></a>
	                    			</div>
	                    			<div class="caption">
                                    	<div class="author">
	                    					 <button type="button"  class="btn "  style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:62px; margin-top:0px"><img src="/chao/img/xin.jpg"><span style="color:#000000; font-size:12px">收藏</span></button>
                                              <button type="button"  class="btn" data-toggle="modal" data-target="#myModal" style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:65px; margin-top:0px"><img src="/chao/img/weixin.jpg"><span style="color:#000000; font-size:12px">讨论</span></button>
                                            
			                    		</div>
			                    	</div>
		                    	</div>
                                <!--   end    -->
                                 <!--  start   -->
	                    		<div class="thumbnail">
	                    			<div class="imgs">
	                    				   <a href="images/t6.jpg" data-lightbox="lightbox_" ><img src="images/t6.jpg" width="200"></a>
	                    			</div>
	                    			<div class="caption">
                                    	<div class="author">
	                    					 <button type="button"  class="btn "  style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:62px; margin-top:0px"><img src="/chao/img/xin.jpg"><span style="color:#000000; font-size:12px">收藏</span></button>
                                              <button type="button"  class="btn" data-toggle="modal" data-target="#myModal" style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:65px; margin-top:0px"><img src="/chao/img/weixin.jpg"><span style="color:#000000; font-size:12px">讨论</span></button>
                                            
			                    		</div>
			                    	</div>
		                    	</div>
                                <!--   end    -->
                                 <!--  start   -->
	                    		<div class="thumbnail">
	                    			<div class="imgs">
	                    				   <a href="images/t8.jpg" data-lightbox="lightbox_" ><img src="images/t8.jpg" width="200"></a>
	                    			</div>
	                    			<div class="caption">
                                    	<div class="author">
	                    					 <button type="button"  class="btn "  style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:62px; margin-top:0px"><img src="/chao/img/xin.jpg"><span style="color:#000000; font-size:12px">收藏</span></button>
                                              <button type="button"  class="btn" data-toggle="modal" data-target="#myModal" style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:65px; margin-top:0px"><img src="/chao/img/weixin.jpg"><span style="color:#000000; font-size:12px">讨论</span></button>
                                            
			                    		</div>
			                    	</div>
		                    	</div>
                                <!--   end    -->
                                 <!--  start   -->
	                    		<div class="thumbnail">
	                    			<div class="imgs">
	                    				   <a href="images/t10.jpg" data-lightbox="lightbox_" ><img src="images/t10.jpg" width="200"></a>
	                    			</div>
	                    			<div class="caption">
                                    	<div class="author">
	                    					 <button type="button"  class="btn "  style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:62px; margin-top:0px"><img src="/chao/img/xin.jpg"><span style="color:#000000; font-size:12px">收藏</span></button>
                                              <button type="button"  class="btn" data-toggle="modal" data-target="#myModal" style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:65px; margin-top:0px"><img src="/chao/img/weixin.jpg"><span style="color:#000000; font-size:12px">讨论</span></button>
                                            
			                    		</div>
			                    	</div>
		                    	</div>
                                <!--   end    -->
                                 <!--  start   -->
	                    		<div class="thumbnail">
	                    			<div class="imgs">
	                    				   <a href="images/t10.jpg" data-lightbox="lightbox_" ><img src="images/t10.jpg" width="200"></a>
	                    			</div>
	                    			<div class="caption">
                                    	<div class="author">
	                    					 <button type="button"  class="btn "  style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:62px; margin-top:0px"><img src="/chao/img/xin.jpg"><span style="color:#000000; font-size:12px">收藏</span></button>
                                              <button type="button"  class="btn" data-toggle="modal" data-target="#myModal" style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:65px; margin-top:0px"><img src="/chao/img/weixin.jpg"><span style="color:#000000; font-size:12px">讨论</span></button>
                                            
			                    		</div>
			                    	</div>
		                    	</div>
                                <!--   end    -->
                                 <!--  start   -->
	                    		<div class="thumbnail">
	                    			<div class="imgs">
	                    				   <a href="images/t10.jpg" data-lightbox="lightbox_" ><img src="images/t10.jpg" width="200"></a>
	                    			</div>
	                    			<div class="caption">
                                    	<div class="author">
	                    					 <button type="button"  class="btn "  style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:62px; margin-top:0px"><img src="/chao/img/xin.jpg"><span style="color:#000000; font-size:12px">收藏</span></button>
                                              <button type="button"  class="btn" data-toggle="modal" data-target="#myModal" style="background:#FFFFFF; border:#FFFFFF;  height:31px; width:65px; margin-top:0px"><img src="/chao/img/weixin.jpg"><span style="color:#000000; font-size:12px">讨论</span></button>
                                            
			                    		</div>
			                    	</div>
		                    	</div>
                                <!--   end    -->
                              
                          </div>
                  </div><!--  图片  -->
                   
                  <div  style=" border-top:1px dashed #dddddd; text-align:center; margin-top:20px">
                              <ul class="pagination pagination-sm">
                                 <li><a href="#">&laquo;</a></li>
                                 <li><a href="#">1</a></li>
                                 <li><a href="#">2</a></li>
                                 <li><a href="#">3</a></li>
                                 <li><a href="#">4</a></li>
                                 <li><a href="#">5</a></li>
                                 <li><a href="#">&raquo;</a></li>
                             </ul>
                         </div><!--  翻页  -->

             </div>
              
            </div><!--   class:user_nr    -->
       </div><!--  row  -->
    </div>
   
   <!--   弹出讨论列  -->
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                           <div class="modal-dialog"  style="width:800px">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title" id="myModalLabel">讨论</h4>
                               </div>
                               <div class="modal-body">
                                    <table cellpadding="2" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td rowspan="2" width="215" valign="top">
                                                 <a href="#"><img src="/chao/img/5c1d8f8eed1208472570d3dad8cda699.jpg"  style="width:210px; height:auto"></a>
                                                 <p style="text-align:left; padding-top:15px; font-family:微软雅黑; font-size:12px; color:#666666"> <font color="#FF6699">幼儿简易枕套</font> 于40分钟前上传</p>
                                                
                                               
                                             </td>
                                            
                                             <td valign="top" align="left" >
                                                 
                                                 <div style="padding-left:15px">
                                                   <div class="media">
                                                     <a class="pull-left" href="base.html">
                                                        <img class="media-object" src="/chao/img/newxiaotu.jpg" width="35" height="35" style="border:1px solid #dedede; padding:2px;">                       </a>
                                                     <div class="media-body">
                                                       <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                                                       <span class="font10">2015-04-04</span>                         
                                                     </div>
                                                   </div>
                                                     <p style=" color:#666666; font-size:12px; font-family:微软雅黑; border-top:1px dashed #ccc; padding-top:5px ">
                                                        评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论评论内容评论内容评论内容评论
                                                     </p>
                                                 </div><!--  回复列表  -->
                                              
                                             </td>
                                          </tr>
                                           <tr>
                                              
                                             <td valign="top" align="left" style="padding-left:15px">
                                                   <textarea id="TextArea1" cols="20" rows="2" class="ckeditor"></textarea>
                                                        <script type="text/javascript">
                                                           CKEDITOR.replace('TextArea1');</script>
                                                        <div class="height15"></div>
                                                        <div>
                                                           <span style="float:left"> <button class="btn btn-danger " type="button" style="background:#FF6699" >发表帖子 </button> </span>
                                                           <span style="float:right"><a href="rules.html">社区积分规则</a></span>    
                                                        </div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                               </div>
                               <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                               </div> 
                             </div>
                           </div>
                         </div>
    <!--   弹出讨论列表结束    -->
<% include ./footer %>