<% include ./header %>




<div class="container">
      
      <div ng-controller="RegisterController"  style="margin-top:30px">
        <div class="row">
           <div class="col-sm-2 modify_sidebar col-xs-2">
         
             <p class="modify_sidebar_p"><strong>资料修改</strong> <img src="/chao/img/modify.gif" width="16" height="16"></p>

               <p class="modify_sidebar_p1"><a href="/users/<%=user.id%>/modify">个人资料</a></p>
               <p class="modify_sidebar_p1"><a href="/users/<%=user.id%>/password">修改密码</a></p>
               <p class="modify_sidebar_p1"><a href="/users/<%=user.id%>/avatar" >修改头像</a></p>
         </div>
     <div class="col-sm-10 col-xs-10">
       <div class="panel panel-default">
        <div class="panel-heading"><strong>用户头像修改</strong></div>
        <div class="panel-body">
          <form id="myForm" action="/upload/avatar" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
              <input name="model" type="hidden" value="User">
              <input id="id" name="id" type="hidden" value="<%=user.id%>">
           <table class="table"  align="center">
               <tbody>
                  <tr>
                       <td width="2%"></td>
                    <td width="96%">当前我的头像<br>
             如果您还没有设置自己的头像，系统会显示为默认头像，您需要自己上传一张新照片来作为自己的个人头像<br><br>
             
              <img src="<%=user.thumbnail_url%>"></td>
               <td width="2%"></td>
                  </tr>
                   <tr>
                      <td width="2%"></td>
                      <td width="96%">设置我的新头像<br>
                           请选择一个新照片进行上传编辑。支持jpg jpeg png格式图片。图片大小不要超过2M。<br><br>
                          <div class="form-group">
                            <div  class=" col-sm-6">
                                <label class="sr-only" for="files">文件输入</label>
                                <input   type="file" id="files">
                             </div>
                          </div>
                          <div id="img-box"></div>
                          <!-- The global progress bar -->
                          <div id="progress" class="progress">
                              <div class="progress-bar progress-bar-success"></div>
                          </div>
                      </td>
                     <td width="2%"></td>
                  </tr>
                   <tr>
                      <td width="2%"></td>
                      <td width="96%">
                            <div class="form-group">
                              <div class=" col-sm-6">
                                <button type="submit" class="btn btn-primary" >保存</button>
                             </div>
                           </div>
                      </td>
                     <td width="2%"></td>
                  </tr>
                
               </tbody>
            </table>

         
          
         </form>

      </div>
    </div>
  </div>

  </div>
      </div>
    </div>

    </div>


<% include ./footer %>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/jqu/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/jqu/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/jqu/js/jquery.fileupload.js"></script>

<script>

    ////    Change this to the location of your server-side upload handler:
    var url = window.location.hostname === 'localhost' ?
            '//localhost:3000/upload/avatar' : 'upload/avatar/';
    var sendData= true;
    $('#files').fileupload({
        url: url,
        dataType : 'json',
        autoUpload : false,
        add : function(e,data){
            $("#myForm button").on("click",function(e){
//
                e.preventDefault();
                if(sendData){
                    data.formData = $("#myForm").serializeArray();
                    sendData = false;
                }
                $("#myForm button").addClass('disabled');
                data.submit();
//
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );
        },

        done: function(e,data){
            sendData = true;
            var id = $('#id').val();
            var url = window.location.hostname === 'localhost' ?
            '//localhost:3000/users/'+ id + '/avatar' : 'users/'+ id + '/avatar';
            window.location.replace(url);
        }
    })
</script>

<script>
    $( document ).ready(function() {
        /*
         *  browser upload img
         * */
        function browser_check() {
            if (window.File && window.FileReader && window.FileList &&
                    window.Blob) {
                //All the File APIs are supported.
            } else {
                alert('当前网页浏览器版本过低，请下载新版浏览器。建议使用新版google浏览器或火狐浏览器。');
            }
        }

        browser_check();


        function handleFileSelect(evt) {

            $('#img-box').empty();
            var files = evt.target.files;

            //loop throuth the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                //only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }


                var reader = new FileReader();

                //closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        //Render thumbnail.
                        var thumb = ['<img width="209" class="img-thumbnail"  src="',
                            e.target.result,
                            '" title="', escape(theFile.name),
                            '"/>'].join('');
                        $('#img-box').append(thumb);

                    };
                })(f);

                //read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('files').addEventListener('change',
                handleFileSelect, false);

    });
</script>

